<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<title>Kadernotas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>
	<style>
		#formcont {
			height: 100vh;
			witdth: 100vw;
			display: flex;			
		}

		#formbody {
			width: 400px;
			margin: 150px auto;
			padding: 25px 15px;
			border-radius: 5px;
		}
	</style>

<body>

	<nav class="navbar navbar-dark bg-danger">
	  <div class="container">
	    <a class="navbar-brand" style="margin: auto;">KaderNotas - Cadastrar/Modificar Estudante</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	  </div>
	</nav>
	
	<div class="container" id="formCont">
		<form id="formbody" class="border border-danger" >
		  <div class="mb-3">
		    <label for="imputId" class="form-label">ID do Estudante</label>
		    <br/>
		    <small id="emailHelp" class="form-text text-danger">Informe o ID apenas em caso de modificação.</small>
		    <input type="number" class="form-control" id="imputId">
		  </div>
		  <div class="mb-3">
		    <label for="imputNome" class="form-label">Nome do Estudante</label>
		    <input type="text" class="form-control" id="imputNome">
		  </div>
		  <div class="mb-3">
		    <label for="inputNascimento" class="form-label">Data de Nascimento</label>
		    <input type="date" class="form-control" id="inputNascimento">
		  </div>
		  <button type="submit" class="btn btn-danger">Enviar</button>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>